server:
  port: 8083
  servlet:
    session:
      timeout: 40m # m = minutes, s = seconds, h = hours

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/finplanpro # Changed port to 5433
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

flyway:
  enabled: true
  baseline-on-migrate: true
  locations: classpath:db/migration
  clean-on-validation-error: true # Automatically clean and migrate on checksum mismatch
