server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/finplanpro
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    show-sql: true

flyway:
  enabled: true
  baseline-on-migrate: true
  locations: classpath:db/migration
