server:
  port: ${PORT:8083}
  servlet:
    session:
      timeout: 40m

spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5433/finplanpro}
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: false
    show-sql: false

flyway:
  enabled: true
  baseline-on-migrate: true
  locations: classpath:db/migration
  clean-on-validation-error: false
